:root {
  --primary-color: #3F3351;
  --secondary-color: #F3F0D7;
}

h1 {
  font-family: Montserrat;
  font-size: 3.3rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 3rem;
  
}

h3 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1.5rem;
}
h6 {
  font-family: Montserrat;
}
.hello {
  width: 30%;
  height: 30%;
}
.begin {
  color: red;
}
.end {
  color: greenyellow;
}

p {
  color: #8f8f8f;
  font-size: 1rem;
}

.container-fluid {
  padding: 1% 3% 4%; 
  /* padding: 1rem 4rem; */
}


body {
  font-family: "Montserrat";
}
.Title-block { 

  padding-top: 50px;
  padding-bottom: 50px;
  bottom:600px;
  
  
  text-align: center;

  
}

#title {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
}
h5 {
  font-family: "Ubuntu", sans-serif;
  font-size: 5rem;
}

#what-we-do {
  text-align: center;
  background-color: var(--secondary-color);
  color: #fff;
}

#features {
  padding: 3rem 8rem;
  position: relative;
  z-index: 2;
  background-color: var(--primary-color);
}

#press {
  background-color: black;
  text-align: center;
  padding-bottom: 3%;
}

#pricing {
  padding: 100px;
  text-align: center;
  color: black;
}

#cta {
  text-align: center;
  background-color: black;
  padding: 7% 15%;
  color: #fff;
}

/* navigation bar */
.nav-css{
  padding-top:0;
}

/* .navbar {
  padding: 0 0 4.5rem;
} */

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Montserrat;
  font-weight: 400;
}

/*  download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 5%;
}
.about-us {
  text-align: center;
  /* padding-bottom: 5%; */
  color: white;
}
.fa {
  color: red;
  margin-bottom: 7px;
}

.fa-check-circle:hover {
  color: #ff4c68;
}

.fa-heart:hover {
  color: #ff4c68;
}

.fa-bullseye:hover {
  color: #ff4c68;
}

.what-we-do-title {
  margin: 1.5rem 0;
  margin-top: 0;
  padding: 1.5rem 0;
  text-align: center;
  color: black;
}

.documentation {
  text-align:center;
  background-color: var(--secondary-color);
  padding: 2rem;
  /* margin: 3rem; */
}

.tutorial-videos {
  text-align: center;
  background-color: var(--primary-color);
  padding: 2rem;
  margin-top: 0;
  margin-bottom: 0;;
  color: white;
}
/* testimonial */
/* .test-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.presss {
  width: 13%;
  margin: 20px 20px 50px 20px;
}
.carousel-item {
  padding: 7% 15%;
}
.pricing-column {
  padding: 3% 2%;
} */

@media (max-width: 1028px) {
  .title-image {
      position: static;
      transform: rotate(0);
  }

  #title {
      text-align: center;
  }
}

.true-love {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 2.5rem;
  font-height: 1.5;
}

.copy-right {
  margin: 20px 10px;
}
.python {
  width: 60%;
}
.cpp {
  width: 60%;
}
.c {
  width: 68%;
}
.selected-language-logo {
  width: 20%;
}

.footer-container {
  text-align: center;
  background-color: var(--secondary-color);
  color: black;
  padding: 2rem;
  border-radius: 1rem 1rem 0 0;
}

.social-links-container {
  display: inline-block;
  /* width: 2rem; */
  margin: 1.5rem;
}

.small-image-size {
  width: 3rem;
  margin: 1.5rem;
}
.forum{
    text-align:center;
}


canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  /* display:flex;
  justify-content: center;

  
  width: 100%;
  height: 100%;
  background-color:var(--primary-color);
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; */

  /* trial */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

}

.row{
  display:flex;
  justify-content: center;
}

.docs-section{
  background-color: var(--secondary-color);
}

/* trial */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar{
  
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;

}

.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.header-bottom .animate-heading {
    position: relative;
    z-index: 2;
}

@media (max-width: 1920px){
.header-bottom .item {
    padding-top: 20%;
}
}